/* 0 default settings */
/* 0.1 full reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* 0.2 setting rem value */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

/* 1 generic styling */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hide {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main container */

.main-app-background {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("/images/utrecht.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(103, 186, 224); */
}

.main-app-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
}

.main-app-container {
  width: 110rem;
  height: 60rem;
  background: linear-gradient(
    0turn,
    rgba(138, 130, 130, 0.75),
    rgba(202, 198, 198, 0.75)
  );
  /* background-color: rgba(196, 186, 186, 0.7); */
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  /* background: linear-gradient(135deg, #3f76dd, #824bdb); */
  /* box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.2); */
  border-radius: 7.5rem;

  /* position the block in the center of the screen */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* city input */
.city-input-container {
  margin-top: 3rem;
}

#city-input {
  width: 35rem;
  height: 6rem;
  padding: 1rem 5rem;
  border: none;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5rem;
  background-color: white;
}

#city-input:focus {
  outline: none;
}

.city-submit-styling {
  width: 6rem;
  height: 6rem;
  padding: 0.7rem;
  margin-left: 1rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: white;
}

/* show temperature */

.temperature-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.temperature {
  font-size: 3.5rem;
  color: white;
}

.temperature-text-styling {
  font-size: 7rem;
  color: white;
}

/* show city */
.city {
  font-size: 5rem;
  color: white;
}

/* costs overview */

.costs-overview {
  padding: 5rem 5rem;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 1rem;
}

/* cost blocks styling */
.costs-overview-block {
  min-height: 10rem;
  /* background-color: grey; */
  justify-items: center;
  padding: 1rem;
}

.costs-icon-styling {
  height: 4rem;
  width: 4rem;
  fill: white;
}

.costs-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  text-align: center;
}

.costs-number {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

/* intro container styling */
.intro-heading {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-bottom: 3rem;
}

/* no display */

.no-display {
  background: none;
}
